<li class="nav-item dropdown">
    <a class="nav-link" data-toggle="dropdown" href="#">
      <i class="far fa-user"></i>
      
    </a>
    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
      <span class="dropdown-item dropdown-header">
      <h3>
        {{request.session.nome_usuario}}
        </h3  
      </span>

      <div class="dropdown-divider"></div>
      <a href="#" class="dropdown-item">
        <i class="fas fa-lock mr-2"></i> Alterar Senha
        
      </a>
      <a href="#" class="dropdown-item">
        <i class="fas fa-user mr-2"></i> Meu Perfil
        
      </a>
  
      <div class="dropdown-divider"></div>
      <a href="{% url 'adminsair'%}" class="dropdown-item dropdown-footer"> <i class="fas fa-lock mr-2"></i> Sair do Sistema</a>
    </div>
  </li>