{% extends 'admin/layout/base.html' %}
{% block titulopagina %}
Cadastro de Usuários
{% endblock%}
{% block conteudo %}
<Br>

<div class="row">
    <Br>
    <div class="col-md-12">
      <!-- jquery validation -->
      <div class="card card-primary">
        <div class="card-header">
          <h3><b class="fa fa-user"></b> Cadastro de Usuário
            <a href="{% url 'usuario_index'%}" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
            </h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form id="form_cadusuario" action="{% url 'usuario_salvar' %}" method="POST">
            {% csrf_token %}
          <div class="card-body">
            <div class="form-group">
              <label for="exampleInputEmail1">Nome</label>
              <input type="nome" name="nome" class="form-control" id="exampleInputEmail1" placeholder="Nome">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email </label>
              <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Senha</label>
              <input type="password" name="senha" class="form-control" id="exampleInputPassword1" placeholder="Senha">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Repetir Senha</label>
              <input type="password" name="repetirsenha" class="form-control" id="repetirsenha" placeholder="Repetir Senha">
            </div>
            <div class="form-group">
                <label>Perfil</label>
                <select name="id_perfil" class="form-control select2" style="width: 100%;">

                  <option value="" >Selecione um valor</option>
                  {% for perfil in reg_perfil %}
                  <option value="{{perfil.id_perfil}}">{{perfil.descricao}}</option>
                  {% endfor %}
                </select>
              </div>


              <div class="form-group">
                <label>Hotel</label>
                <select name="id_hotel" class="form-control select2" style="width: 100%;">
                  <option value="" >Selecione um valor</option>
                  {% for hotel in reg_hotel %}
                  <option value="{{hotel.id_hotel}}">{{hotel.nome}}</option>
                  {% endfor %}
                </select>
              </div>
       
          </div>
          <!-- /.card-body -->
          <div class="card-footer">
            <button type="submit" class="btn btn-primary">Registrar Usuário</button>
          </div>
        </form>
      </div>
      <!-- /.card -->
      </div>
    <!--/.col (left) -->
    <!-- right column -->
    <div class="col-md-6">

    </div>
    <!--/.col (right) -->
  </div>

 {%endblock%}