{% extends 'admin/layout/base.html' %}
{% block titulopagina %}
Visualizar Hotel 
{% endblock%}
{% block conteudo %}
<Br>
<div class="row">
        <Br>
        <div class="col-md-12">
          <!-- jquery validation -->
          <div class="card card-primary">
            <div class="card-header">
              <h3><b class="fa fa-user"></b> Visualizar  Hotel
                <a href="{% url 'hotel_index' %}" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
              </h3>
            </div>
             <div class="card-body">
                </div>
                <div class="card-footer">
                  
                </div>
         
     </div>
     </div>
</div>
{% endblock %} 

