{% extends 'admin/layout/base.html' %}
{% block titulopagina %}
Editar Hospede 
{% endblock%}
{% block conteudo %}
<Br>
<div class="row">
        <Br>
        <div class="col-md-12">
          <!-- jquery validation -->
          <div class="card card-primary">
            <div class="card-header">
              <h3><b class="fa fa-user"></b> Editar de Hospede
                <a href="{% url 'hospede_index' %}" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
              </h3>
            </div>
         <form id="form_cadhospede" action="{% url 'hospede_atualizar' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li>
                                <div class="alert alert-primary" role="alert">
                                    {{ message }}
                                  </div>
                            </li>
                        {% endfor %}
                    </ul>
                  {% endif %}
                    <input type="hidden" name="id_hospede" value="{{dados.id_hospede}}"/>
                <div class="card-body">

            <div class="form-group">
                <label for="lab">Nome</label>
                <input type="text" value="{{dados.nome}}"  name="nome" class="form-control" id="nome" placeholder="Nome">
            </div>
             <div class="form-group" >
                <button class="btn btn-info" type="button" onclick="document.getElementById('foto').click()"><i class="fa fa-camera"></i>Foto</button>
                <input type="file" id="foto" name="foto" style="display:none"  class="img_upload" onchange="carregaFoto(this,'foto' )">
             </div>
             <img src="/media/imagens/{{dados.foto}}" width="100" class="img_upload_foto"  />
              <div class="form-group">
                <label>Fone:</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-phone"></i></span>
                    </div>
                    <input type="text" id="fone" name="fone" value="{{dados.fone}}" class="form-control" data-inputmask='"mask": "(99)99999-9999"' data-mask>
                 </div>
              </div>
            <div class="form-group">
                <label for="lab">Email</label>
                <input type="email" value="{{dados.email}}"  name="email" class="form-control" id="email" placeholder="Email">
            </div>
              <div class="form-group">
                <label>Cpf:</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-file-doc"></i></span>
                    </div>
                    <input type="text" id="cpf" name="cpf" value="{{dados.cpf}}" class="form-control" data-inputmask='"mask": "999.999.999-99"' data-mask>
                 </div>
              </div>
              <div class="form-group">
                <label>Datanasc</label>
                    <div class="input-group date datapicker" data-target-input="nearest">
                        <input name="datanasc" id="datanasc"  value="{{dados.datanasc|date:"d/m/Y"}}" type="text" class="form-control datetimepicker-input" data-target=".datapicker"/>
                        <div class="input-group-append" data-target=".datapicker" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div
                    </div>
               </div>
            <div class="form-group">
                <label for="lab">Pai</label>
                <input type="text" value="{{dados.pai}}"  name="pai" class="form-control" id="pai" placeholder="Pai">
            </div>
            <div class="form-group">
                <label for="lab">Mae</label>
                <input type="text" value="{{dados.mae}}"  name="mae" class="form-control" id="mae" placeholder="Mae">
            </div>
            <div class="form-group">
                <label for="lab">Quarto</label>
                <input type="text" value="{{dados.quarto}}"  name="quarto" class="form-control" id="quarto" placeholder="Quarto">
            </div>
              <div class="form-group">
                <label>Entrada</label>
                    <div class="input-group date datatimepicker"  data-target-input="nearest">
                        <input name="entrada" id="entrada" value="{{dados.entrada}}" type="text" class="form-control datetimepicker-input" data-target=".datatimepicker"/>
                        <div class="input-group-append" data-target=".datatimepicker" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div
                    </div>
               </div>
              <div class="form-group">
                <label>Saida</label>
                    <div class="input-group date datatimepicker"  data-target-input="nearest">
                        <input name="saida" id="saida" value="{{dados.saida}}" type="text" class="form-control datetimepicker-input" data-target=".datatimepicker"/>
                        <div class="input-group-append" data-target=".datatimepicker" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div
                    </div>
               </div>
            <div class="form-group">
                <label for="lab">Placa</label>
                <input type="text" value="{{dados.placa}}"  name="placa" class="form-control" id="placa" placeholder="Placa">
            </div>
            <div class="form-group">
                <label for="lab">Marca</label>
                <input type="text" value="{{dados.marca}}"  name="marca" class="form-control" id="marca" placeholder="Marca">
            </div>
            <div class="form-group">
                <label for="lab">Modelo</label>
                <input type="text" value="{{dados.modelo}}"  name="modelo" class="form-control" id="modelo" placeholder="Modelo">
            </div>
            <div class="form-group">
                <label for="lab">Cor</label>
                <input type="text" value="{{dados.cor}}"  name="cor" class="form-control" id="cor" placeholder="Cor">
            </div>
            <div class="form-group">
                <label>Hotel</label>
                <select name="id_hotel" class="form-control select2" style="width: 100%;">
                    <option value="">Selecione um valor</option>
                    {% for dadoscombo in reg_hotel %}
                        {% if dadoscombo.id_hotel == dados.hotel.id_hotel %}
                                <option value="{{dadoscombo.id_hotel}}" selected  >{{dadoscombo.nome}}</option>
                        {% else %}
                                <option value="{{dadoscombo.id_hotel}}" selected  >{{dadoscombo.nome}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
 
                
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Atualizar</button>
                </div>
         </form>
     </div>
     </div>
</div>
{% endblock %} 

